version: '3.8'

services:
  db:
    image: postgres:15-alpine
    restart: always
    environment:
      POSTGRES_USER: ${POSTGRES_USER}
      POSTGRES_PASSWORD: ${POSTGRES_PASSWORD}
      POSTGRES_DB: ${POSTGRES_DB}
    ports:
      - "5432:5432"
    volumes:
      - postgres_data:/var/lib/postgresql/data
    networks:
      - chainquery-network

  backend:
    build: ./backend
    restart: always
    depends_on:
      - db
    env_file:
      - ./backend/.env
    environment:
      # Override DB Host to match the service name "db"
      POSTGRES_SERVER: db
    networks:
      - chainquery-network

  frontend:
    build: ./frontend
    restart: always
    ports:
      - "80:80" # Opens the app to the world on Port 80
    depends_on:
      - backend
    networks:
      - chainquery-network

volumes:
  postgres_data:


networks:
  chainquery-network:
    driver: bridge
